<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="FontAwesome.Sharp" version="6.6.0" targetFramework="net48" />
  <package id="Roslynator.Analyzers" version="4.12.10" targetFramework="net48" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net48" developmentDependency="true" />
  <package id="System.Linq" version="4.3.0" targetFramework="net48" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net48" />
</packages>